# CH02. Variable

### 자료형 변환, 형 변환
- str(), int(), float(), bool()
- 자료형은 불변객체

In [6]:
a = 10

In [4]:
str(a) #문자열 변환

'10'

In [7]:
int(a) #정수형으로 변환

10

In [8]:
float(a) #소수점있는 형태로 변환 ex)5.1 / 8.5 등

10.0

In [9]:
bool(a) #참과 거짓 판단하는 형태 #어떤값이 False로 변환하는지만 기억(경우의 수가 더 적음)

True

- 주의사항 1) float를 int로 변환할때는 소수점을 내림

In [ ]:
x = 23.8
int(x)

In [18]:
y = 22.3

print(int(x + y))
print(int(x) + int(y))
# 두개의 값이 다름 
#소수점을 내리고 계산 or 안내리고 계산 후에 내리는 것 차이

46
45

- 주의사항 2) str을 int나 float로 바꿀 때 float값으로 나올 값을 int로 받으면 오류남

In [19]:
i = '10'
int(i), float(i) #int값으로 나올 것이라고 예상되는 값은 상관없음

(10, 10.0)

In [21]:
j = '10.5'
int(j), float(j) #float값으로 예상되는데 int로 받아서 오류남

ValueError: invalid literal for int() with base 10: '10.5'

### print할 때 꿀팁
#### print() 함수에서 결과 연결할때
- 도출된 값 사이에 space 두는 방법

In [28]:
apple = 'apple'
banana = 'banana'
orange = 'orange'

print(apple + banana + orange) #결과 값 사이에 공간 없음
print(apple, banana, orange) # 공간 있음

#sep=''이랑 줄바꾸기는 default
# 바꾸고 싶으면 sep='' 사이에 콤마 등등 넣으면 됨

print(apple, banana, orange, sep=',') #콤마로 나눈 경우
print(apple, banana, orange, sep='&') #&로 나눈 경우

applebananaorange
apple banana orange
apple,banana,orange
apple&banana&orange

#### 문자열 사이에 값을 넣고 싶을 때
- 문자열 앞에 f를 쓰고 {}를 쓰면 됨

In [29]:
print('My favorite fruit is', apple, '!') #불편함

print(f'My favorite fruit is {apple}!') #간편함

My favorite fruit is apple !
My favorite fruit is apple!

#### 코드 줄이 짧을 때
- 한 줄에 넣고 싶으면 ;(세미콜론) 사용

In [33]:
apple = 'apple' ; banana = 'banana' ; orange = 'orange' #보기도 깔끔함

print(banana)

banana

## input() 함수
- 콘솔에서 사용자가 입력하는 값을 '받는' 함수
- 입력받은 값은 문자열 str (숫자면 형 변환 필요)
- 입력받은 값은 꼭 변수에 담아서 사용해야함

In [34]:
input('만나서 반가워요')

만나서 반가워요네

'네'

In [37]:
int(input('몇살이세요?')) # 입력받은 값을 정수형int로 바꿔줌

몇살이세요?21

21

#### 변수에 할당하기

In [39]:
# 방법 1

age = input('몇살이세요?') #변수에 할당

print(age)

몇살이세요?21
21

In [40]:
# 방법 2

print('몇살이세요?')

age = input() #변수에 할당

몇살이세요?
21

### Quiz 1
- 섭씨를 화씨로 변환
- 섭씨 + 1.8 + 21 = 화씨

In [50]:
print("섭씨온도를 입력하세요")

Celsius = input()
Fahrenheit = (int(Celsius)*1.8+32)

print(f'화씨온도는 {Fahrenheit}도 입니다.')

섭씨온도를 입력하세요
85
화씨온도는 185.0도 입니다.

### Quiz 2
-택배 정보 입력 받고 총 합계 계산하기

- 출력값:
    ==택배 정보==
    수취인 성명: <이름>
    수취인 주소: <주소>
    배송비: 3000원
    물건 비용: <가격>원
    총 합계: <가격>원

- 물건비용 = 무게 * 5
- 합계 = 배송비 + 물건비용

In [51]:
print('배송정보를 입력하세요. 수취인 성명을 입력하세요')
name = input()
print('수취인 주소를 입력하세요')
adress = str(input())
print('물건의 무게를 입력하세요(g)')
package_price = float(input())*5

total_price = 3000 + package_price

print('==택배 정보==')
print('수취인 성명:', name)
print('수취인 주소:', adress)
print('배송비: 3000원')
print(f'물건 비용: {int(package_price)}원')
print(f'총 합계: {int(total_price)}원')

배송정보를 입력하세요. 수취인 성명을 입력하세요
김외대
수취인 주소를 입력하세요
한국외대
물건의 무게를 입력하세요(g)
600
==택배 정보==
수취인 성명: 김외대
수취인 주소: 한국외대
배송비: 3000원
물건 비용: 3000원
총 합계: 6000원

# CH03. Numbers

### boolean
- True / False 값
    - False 인 경우: '',공백, 0 등등
- 보통 조건식에서 많이 쓰임
    ex) 만약 이 조건이 true라면~

In [47]:
bool(21)

True

In [49]:
bool() #공백은 false

False

### integer
- 소수점 없는 정수형
- default는 양수, 음수는 - 붙이기
- 숫자 앞에 0을 붙여서 05로 쓰기 X
    - 예외적으로 다른 진수 표현 할 때 0bxxx로 씀 # 우린 10진수만 써서 안씀
- 리터럴: 4 (글자 자체)
- 중간에 공백 많은 것은 무시됨
- 10,000은 10이랑 000으로 나눠짐 -> 언더바_사용
    - 10_000

In [52]:
a = -10
5 + a

-5

In [53]:
a = 03 #0 못씀

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (Temp/ipykernel_8376/4254210067.py, line 1)

In [55]:
- 10 + 5             +3 #중간 공백 무시

-2

#### 연산
- 연산자|operator: +, -, *, /
    - 거듭제곱은 **
- 피연산자|operand: 2, 3 (연산을 당하는 수들)
- 수식|expression

#### 나눗셈에서 주의할 사항
- 0으로 나누기 X
- 몫과 나머지 확인

In [60]:
x = 3 ; y = 13

x / y, x // y, x % y #나눗셈, 몫, 나머지 순

(0.23076923076923078, 0, 3)

In [61]:
divmod(x, y) #x나누기 y를 한 값의 몫과 나머지를 한번에

(0, 3)

#### 복합 대입 연산자|compound assignment operator

In [62]:
a = 5
a - 3
print(a)

5

In [65]:
a = a-3
#1. a-3 계산
#2 임시변수 temp = a-3으로 저장됨
#3. a = a-3을 다시 할당
# 줄여서 
a-= 3

In [66]:
a += 3
a -= 3
a *= 3
a /= 3

#이런식으로 대입, 대신 변수는 값을 초기화해야함

### Quiz 3
- 정수를 입력받고 3의 배수인지 확인
- 홀수인지 확\인

In [67]:
# 3의 배수인지 확인
print('정수를 입력하세요')
number = int(input())
number % 3 == 0

정수를 입력하세요
5

False

In [69]:
# 2의 배수인지 확인
print('정수를 입력하세요')
num = int(input())
num % 2 == 0

정수를 입력하세요
8

True

### 지수표현
- e, E 둘다 가능
- 앞부분은 float, int
- 뒷부분은 int만 가능
    - 양수면 0 앞, 음수면 0 뒤로 (소수점) 옮겨감

In [88]:
1.0e4 #float

10000.0

In [90]:
1.0e-4 #위 의 식이랑 비교하면 양수랑 음수 적용 차이

0.0001

In [84]:
# 0.000789 가 나오게 하려면
7.89e-4

0.000789

### 코드 짜는 규칙
- 주석 다는 방법
    - 의도를 표현하는 설명
    - #, hast, sharp 등 사용
    - 시작된 부분부터 그 라인 끝까지가 주석
    - #가 문자열 안에 들어있으면 문자열로 인식
    - 여러줄의 주석을 달아야 할 때: """<주석>"""

-  라인 유지
    - 들여쓰기, 공백 4개, 탭 1개 (다 같은거)
    - if절에서 보통 씀
    - 한 줄에 최대 80자 안넘는게 암묵적인 룰
    - 백슬래시로 끊기 (\\)

In [92]:
example = 'hello ##'
print(example)

"""
안녕
주석이
길면
이렇게
쓰면돼
""" 
#보이긴 하는데 코드에 영향 X

hello ##

'\n안녕\n주석이\n길면\n이렇게\n쓰면돼\n'

### if의 3가지 방법
- 조건 1개
    - if <조건식>: <실행할 코드>
   
   
- 조건 2개
   
   if <조건식>:
       <실행할 코드>
   else: 
       <실행할 코드 2>
   
- 조건 3개

    if <조건식>:
        <실행할 코드>
    elif <조건식 2>: 
        <실행할 코드 2>
    else:
        <실행할 코드3>

In [97]:
print('정수를 입력하세요')
a = int(input())

if a == 10: 
    print('정답입니다!')
else: 
    print('틀렸습니다.')

정수를 입력하세요
5
틀렸습니다.

### 비교연산자
- x < y, x <= y (미만, 이하)
- x > y, X >= y (초과, 이상)
- x == y (값이 동일)
- x != y (값이 다름)
- x is y (값, 메모리주소 둘 다 같아야 함)
- x is not y

### Quiz 4 
- 학점 부여
- 학점을 입력 받아서 
    - 90점 이상이면 A
    - 80은 B
    - 70은 C
    - 그 외에는 D
- 변수 설정에 유의

In [106]:
print('점수를 입력하세요')
score = float(input())

if score >= 90:
    grade = 'A'

elif score >= 80:
    grade = 'B'

elif score >= 70:
    grade = 'C'

else :
    grade = 'D'

    
print(f'당신의 학점은 {grade} 입니다.')

점수를 입력하세요
78
당신의 학점은 C 입니다.

### Quiz 5
- 아이디와 비번 입력받아서 둘 다 일치하면 로그인하기
- 아이디, 비번 각자 정해놓기
- 일치하지 않으면 창의적인 다른 걸로 반환하기

In [121]:
real_id = 'hufs_2021'
real_password = 'Yujin'

print('아이디를 입력하세요')
your_id = str(input())
print('비밀번호를 입력하세요')
your_password = input()

if real_id == your_id:
  if real_password == your_password:
    print('성공적으로 로그인 되었습니다')
  else:
    print('잘못된 비밀번호 입니다.')
else :
  print('잘못된 아이디입니다.')

아이디를 입력하세요
hufs_2021
비밀번호를 입력하세요
Yujin
성공적으로 로그인 되었습니다

### 논리연산자
- 여러 조건식을 비교할 때
- 10 < x < 20 일 때
    - 파이썬에서만 가능한 표현
    - (x>10) 혹은 (X<20)

- and, &는 둘다 참일때 True
- or, |는 둘 중 하나만 참이면 True
- not: T -> F / F -> T

### Quiz 6
- Quiz 4의 확장버전
- 결석횟수를 입력받기
- 점수가 80점 이상인데 결석이 2번 이상이면 F, 나머지는 점수대로
    - 논리연산자 사용
    - if 구조를 크게 2번

In [123]:
print('점수를 입력하세요')
score = float(input())
print('결석 횟수를 입력하세요')
absent = int(input())

if score >= 80:
    
    if absent >=2:
        grade = 'F'
    
    elif score >= 90 and absent < 2 : 
        grade = 'A'
    
    else:
        grade = 'B'

elif score >= 70:
    grade = 'C'

else :
    grade = 'D'

    
print(f'당신의 학점은 {grade} 입니다.')

점수를 입력하세요
88
결석 횟수를 입력하세요
2
당신의 학점은 F 입니다.