### 반복문
- while, for loop

#### while loop
- 어떤 조건이 만족하는 동안 명령블록 수행
- if + for loop
- 해당 조건이 거짓이면 멈춤 (언제 멈추는지 정확히 파악해야함)

#### for vs. while
- for: 반복 횟수 정해져 있고 정확. 변하지 않음
  - ex) 성적 산출
- while: 횟수 정해지지 않음. 중요X, 어떤 조건을 만족시킬때 빠져나오게 하는 게 중요할 때 사용
  - ex) 가위바위보

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
j = 0
while j < 3:   #0,1,2,false
  j += 1
  print(j)      #0,1,2
#j += 1 -> 1,2,3으로 변화

1
2
3

In [1]:
abcd = ['a','b','c','d']
for ch in abcd:
    print(ch)
#while loop으로 바꾸면!

a
b
c
d

In [2]:
i = 0
while i < len(abcd):
    print(abcd[i])
    i += 1

a
b
c
d

### 반복문 제어
- 되도록 사용하지 않음 (생각지못하게 종료될수도)
- break: 논리적으로 종료시킬때
- else: 조건이 완전히 끝났을 때 한 번 더 실행함. break 시에는 실행 안됨
    - 어느 지점에서 종료되었는지 확인
- continue: 특정 조건 건너뛰고 다음 조건 실행

In [3]:
j = 0 # 초기화
while j < 10:
    print(j)
    if j == 6: break
    j+= 1

0
1
2
3
4
5
6

In [4]:
j = 0 # 초기화
while j < 10:
    print(j)
    if j == 16: break #break자리에 continue넣고 16을 6으로 바꾸면 무한루프됨
    j+= 1
else:    
    print('ended')  
# 같은 라인 탄다

0
1
2
3
4
5
6
7
8
9
ended

---------------------------
### 구구단 Gugudan
변수 입력받기.
- n단 출력
- 1-n단 출력
- n,m 모두 입력받아서 출력
  n>m
- 프로그램으로 만듦
  - 메뉴: n / 1-n / n-m단
  - 메뉴에 없는 옵션 선택할 때

In [ ]:
# n단 출력
dan = int(input('단수를 입력하세요:'))
print(f'======{dan}단======')
for i in range (1,10):
  print(f'{dan} X {i} = {i * dan}')

단수를 입력하세요:4
======4단======
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

In [ ]:
# 1-n단 출력하기
dan = int(input('단수를 입력하세요:'))
for i in range(1, dan+1):
  print(f'======{i}단======')
  for j in range(1, 10):
    print(f'{i} X {j} = {i * j}')

단수를 입력하세요:3
======1단======
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
======2단======
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
======3단======
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [ ]:
# n부터 m까지 출력
n = int(input('구구단을 몇단부터 시작할까요?:'))
m = int(input('구구단을 몇단까지 출력할까요?:'))
for i in range(n, m+1):
  print(f'======{i}단======')
  for j in range(1, 10):
    print(f'{i} X {j} = {i * j}')

구구단을 몇단부터 시작할까요?:2
구구단을 몇단까지 출력할까요?:4
======2단======
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
======3단======
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
======4단======
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

In [ ]:
import nltk
nltk.download('book', quiet=True)

True

In [ ]:
from nltk import book

*** Introductory Examples for the NLTK Book ***
Loading text1, ..., text9 and sent1, ..., sent9
Type the name of the text or sentence to view it.
Type: 'texts()' or 'sents()' to list the materials.
text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4: Inaugural Address Corpus
text5: Chat Corpus
text6: Monty Python and the Holy Grail
text7: Wall Street Journal
text8: Personals Corpus
text9: The Man Who Was Thursday by G . K . Chesterton 1908

In [ ]:
from nltk.book import *
nltk.download('book', quiet=True)

True

In [ ]:
#text5에서 중복된 단어 거르고 각 단어의 길이출력

### NLTK corpus
- 코퍼스 + 테마
- 종류
  - brown
  - gutenberg (저작권 만료된 문학작품 모아둔 코퍼스)
  - inaugural
- methods
  - words() #tokens랑 같은거
  - sents()
  - raw()
  - fileids() #파일이름

In [ ]:
from nltk.corpus import gutenberg
nltk.download(['brown','gutenberg','inaugural'])

[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Package brown is already up-to-date!
[nltk_data] Downloading package gutenberg to /root/nltk_data...
[nltk_data]   Package gutenberg is already up-to-date!
[nltk_data] Downloading package inaugural to /root/nltk_data...
[nltk_data]   Package inaugural is already up-to-date!

True

In [ ]:
gutenberg.fileids()

['austen-emma.txt',
 'austen-persuasion.txt',
 'austen-sense.txt',
 'bible-kjv.txt',
 'blake-poems.txt',
 'bryant-stories.txt',
 'burgess-busterbrown.txt',
 'carroll-alice.txt',
 'chesterton-ball.txt',
 'chesterton-brown.txt',
 'chesterton-thursday.txt',
 'edgeworth-parents.txt',
 'melville-moby_dick.txt',
 'milton-paradise.txt',
 'shakespeare-caesar.txt',
 'shakespeare-hamlet.txt',
 'shakespeare-macbeth.txt',
 'whitman-leaves.txt']

In [ ]:
gutenberg.words(fileids=['carroll-alice.txt','austen-emma.txt']) #gutenberg에서 가져오기

['[', 'Alice', "'", 's', 'Adventures', 'in', ...]

In [ ]:
# 각 파일마다 word, character, sentence 개수 출력하기
for txt in gutenberg.fileids():
  words = len(gutenberg.words(fileids=txt))
  sentences = len(gutenberg.sents(fileids=txt))
  characters = len(gutenberg.raw(fileids=txt))
  print(f'{txt} | 글자 수={words}개, 단어 수={characters}개, 문장 수={sentences}개')

austen-emma.txt | 글자 수=192427개, 단어 수=887071개, 문장 수=7752개
austen-persuasion.txt | 글자 수=98171개, 단어 수=466292개, 문장 수=3747개
austen-sense.txt | 글자 수=141576개, 단어 수=673022개, 문장 수=4999개
bible-kjv.txt | 글자 수=1010654개, 단어 수=4332554개, 문장 수=30103개
blake-poems.txt | 글자 수=8354개, 단어 수=38153개, 문장 수=438개
bryant-stories.txt | 글자 수=55563개, 단어 수=249439개, 문장 수=2863개
burgess-busterbrown.txt | 글자 수=18963개, 단어 수=84663개, 문장 수=1054개
carroll-alice.txt | 글자 수=34110개, 단어 수=144395개, 문장 수=1703개
chesterton-ball.txt | 글자 수=96996개, 단어 수=457450개, 문장 수=4779개
chesterton-brown.txt | 글자 수=86063개, 단어 수=406629개, 문장 수=3806개
chesterton-thursday.txt | 글자 수=69213개, 단어 수=320525개, 문장 수=3742개
edgeworth-parents.txt | 글자 수=210663개, 단어 수=935158개, 문장 수=10230개
melville-moby_dick.txt | 글자 수=260819개, 단어 수=1242990개, 문장 수=10059개
milton-paradise.txt | 글자 수=96825개, 단어 수=468220개, 문장 수=1851개
shakespeare-caesar.txt | 글자 수=25833개, 단어 수=112310개, 문장 수=2163개
shakespeare-hamlet.txt | 글자 수=37360개, 단어 수=162881개, 문장 수=3106개
shakespeare-macbeth.txt | 글자 수=23140개, 단어 수=100351개, 문장 수=1907개
whitman-leaves.txt | 글자 수=154883개, 단어 수=711215개, 문장 수=4250개

### NLTK - Gutenberg
- 1. shakespeare-caesar의 중복 단어를 거르고 각 단어의 길이 출력
- 2. chesterton-thursday에서 길이가 4자 이하인 알파벳 중 ie를 포함하는 단어를 소문자로 출력,개수세기
- 3. bryant-stories에서 ch로 끝나는 단어 출력, 중복X, 첫글자(소문자)와 끝ch만 남기고 나머지 글자 모두 -
  - ex) much -> m-ch

In [ ]:
# shakespeare-caesar에서 중복단어 거르고 각 단어 길이 출력
set([len(word) for word in gutenberg.words('shakespeare-caesar.txt')])

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15}

In [ ]:
# chesterton-thursday에서 길이가 4자 이하인 알파벳 중 ie를 포함하는 단어를 소문자로 출력, 개수세기
# 길어서 중복은 없애봄
words = [word.lower() for word in gutenberg.words('chesterton-thursday.txt') if (len(word) <= 4) and 'ie' in word]
print(f'총 {len(words)}개')

총 37개

In [ ]:
#bryant-stories에서 ch로 끝나는 단어 출력, 중복X, 첫 글자랑 끝 ch만 남기고 나머지 -로
#ch_words = set([word for word in gutenberg.words('bryant-stories.txt') if word.endswith('ch')])

In [ ]:
text = gutenberg.words('bryant-stories.txt')
ch_words = set([word.lower().replace(word[1:-2], '-') for word in text if word.endswith('ch') ])
print(ch_words)

{'b-ch', 't-ch', 'l-ch', 'f-ch', 'e-ch', 'r-ch', 'c-ch', 'w-ch', 'p-ch', 'a-ch', 'm-ch', 's-ch'}

### Brown
- categories() (카테고리가 있다)

In [ ]:
brown = nltk.corpus.brown #brown import하기

In [ ]:
brown.categories()

['adventure',
 'belles_lettres',
 'editorial',
 'fiction',
 'government',
 'hobbies',
 'humor',
 'learned',
 'lore',
 'mystery',
 'news',
 'religion',
 'reviews',
 'romance',
 'science_fiction']

In [ ]:
fdist = nltk.FreqDist([w.lower() for w in brown.words(categories = 'adventure')])
                                            #categories라고 꼭 넣어야 한다
fdist['men']

83

In [ ]:
#modal verbs
modals = ['can', 'could', 'will', 'would', 'may', 'might']

for verb in modals:
  print(verb, fdist[verb])

can 48
could 154
will 51
would 194
may 7
might 59

### conditional frequency distribution
- 조건에 따른 fdist

In [ ]:
cfd = nltk.ConditionalFreqDist(
  #각 장르 별 frequency distribution만들기
  (genre, word.lower())
  for genre in brown.categories()
  for word in brown.words(categories = genre)
)

In [ ]:
cfd['romance']['love']

36