### Store, Item, Customer
1. AbCustomer -> Customer (상속)
2. Person -> Customer(Person)

In [ ]:
class Customer(Person): #is-a 관계
    pass

class Store:
    def __init__(customer):
        self.customer = customer #Customer타입 #has-a 관계라고함
        self.item = item
        self.item_list = self.item.name, self.item.price
    
    
class Item:
    name
    cnt
    price
    
    pass

class Seller:
    pass

### 매직메소드
- special method
- __<name>__ 의 형식
- __str__, __repr__ : string, representation

In [6]:
# 원본함수
class Customer:
    def __init__(self, name):
        self.name = name
        
c = Customer('kim')

In [7]:
c #붕어빵

In [8]:
print(c)

<__main__.Customer object at 0x0000008C3BB99730>

In [12]:
# c랑 print(c)한 값이랑 같은 게 맘에 안들 때 override해준다

class Customer: #(object) 생략
    def __init__(self, name):
        self.name = name
    
    def __str__(self):
        #print()로 나오는 출력값 변경하는 것   
        return self.name
    
    def __repr__(self):
        # 설정안하면 __str__이랑 동일
        #인스턴스 출력 방식 -> 사용자가 이해하는 객체 모습 표현
        return f'Customer({self.name})' ### Customer (객체이동)
    
    
c = Customer('kim')

In [13]:
c

Customer(kim)

In [14]:
print(c)

kim

In [17]:
repr(c)

'Customer(kim)'

In [16]:
str(c)

'kim'

### NamedTuple, DataClass
- 객체를 더 단순하게 만들 수 있는 라이브러리
- 필요성: 아이템은 메소드가 없으니까 그럴 때 단순화하고 싶을 때 사용

- 객체보다 효율적임(간단한 속성만 가진 클래스일 경우 활용)
- 딕셔너리의 키처럼 사용가능
- 불면객체

In [18]:
#NamedTuple
from collections import namedtuple

Customer = namedtuple('Customer', 'name age') #변수는 공백으로 구분
a = Customer('Hur', 21)
a.name, a.age

('Hur', 21)

In [19]:
#DataClass / 파이썬 3.7 이상에서만 가능
from dataclasses import dataclass

@dataclass
class Customer2:
    name: str
    age: int
        
b = Customer2('Kim', 25)
b.name, b.age

('Kim', 25)

### 함수 II
- *, **
- 일급객체
- 내부함수, 클로저
- 익명함수
- 제너레이터
- 재귀함수

In [1]:
def print_arg(*args): #인자 여러 개 => 패킹
    print(args)
    
print_arg(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [2]:
def print_more(num1, num2, *args):
    print(num1, num2)
    print(*args, 'optional')
    
print_more(1, 2)

1 2
optional

In [3]:
empty = list(range(10))
print(*empty)

0 1 2 3 4 5 6 7 8 9

In [5]:
#행렬, 테이블 데이터
matrix = [
    [1, 2],
    [3, 4],
    [5, 6]
]

#1,3,5 / 2,4,6열만 타고 싶을때
for item in zip(*matrix):
    print(item)

(1, 3, 5)
(2, 4, 6)

In [7]:
for item in zip ([1,2], [3,4], [5, 6]):
    print(item)

(1, 3, 5)
(2, 4, 6)

In [8]:
#키워드 전용 인수 선언할 때 사용
def print_data(data, start, end):
    for item in data[start:end]:
        print(item)
    
    
print_data(empty, start = 0 , end = 6)
#print_data(empty, 0, 6) 이라 해도 됨

0
1
2
3
4
5

In [9]:
def print_kargs(**kargs): #딕셔너리로 반환
    kargs['wine'] = 'crianza' #get()
    print(kargs)
    
print_kargs(wine = 'crianza', drink = 'water')

{'wine': 'crianza', 'drink': 'water'}

In [10]:
for wine in ['carbernet', 'crianza', 'shiraz']:
    print_kargs(wine = wine, drink = 'water')

{'wine': 'crianza', 'drink': 'water'}
{'wine': 'crianza', 'drink': 'water'}
{'wine': 'crianza', 'drink': 'water'}

In [11]:
def print_all(num1, num2, *args, **kargs):
    print(num1, num2)
    print(sum(args))
    print(kargs)
    
print_all(1, 2, 3, 4, 5, 6, num = 5)

1 2
18
{'num': 5}

In [12]:
#딕셔너리 join
a = {1: 'a', 2: 'b'}
b = {2: 'c', 3: 'd'}
c = {**a, **b}