## Dictionary
- 영어 사전처럼
    - 단어: 뜻  형태
    - 키 : 값
    - 순서가 없다!!

- 키로 값을 찾음(사전처럼)
    - 키는 중복 X
- 가변: 수정, 삭제, 추가, 가능
- 타입: dict
- 형변환: 'dict()'

- 중괄호 사용 {}, 콤마로 구분
    - 값에 다양한 자료구조가 올 수 있음.
        - a: 1
        - a: [1, 2, 3, 4] 등등

In [1]:
#빈 dict 선언
empty = dict()
empty = {}

#set 선언
#empty = set()

In [2]:
a = {1, 2, 3} #set 형태 
b = {1:'apple', 2:'banana', 3:'kiwi'} #dict 형태

a, b

({1, 2, 3}, {1: 'apple', 2: 'banana', 3: 'kiwi'})

In [3]:
b = {'':'', '':'', '':''}
b = dict(apple = 'a', banana = 'b', kiwi = 'c')  #dict에 집어넣기
b

{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}

#### Quiz1 출석부로 만들기

- 이름, 학번, 학과
- james 202201 경제학과
- laura 202203 스페인어과
- louis 202202 컴공과

In [13]:
attendance = {202201:['James', '경제학과'], 202203:['laura','스페인어과'], 202202:['louis', '컴공과']}

# key는 중복안되니까 학번으로 설정(이름, 학과은 중복 가능)

attendance

{202201: ['James', '경제학과'],
 202203: ['laura', '스페인어과'],
 202202: ['louis', '컴공과']}

In [12]:
# 형 변환
ex1 = [[1,2], [2, 3], [3, 4]]

ex2 = [(1, 2), (2, 3), (1, 3)]

ex3 = ['ab', 'bc', 'cd']

print(dict(ex1), dict(ex2), dict(ex3)) #dict로 변환된 형태 확인

{1: 2, 2: 3, 3: 4} {1: 3, 2: 3} {'a': 'b', 'b': 'c', 'c': 'd'}

### dict 내 항목조회, 변경

In [15]:
pythons = {
    'Chapman': 'Graham',
    'Cleese': 'John',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin': 'Michael'
}

In [16]:
pythons['Idle'] #값이 없으면 에러남

'Eric'

In [17]:
'Hwa' in pythons #에러 안나는 방법 True나 False로만 나옴

False

In [19]:
#get()
pythons.get('Lee', 0) #없는 키는 None

0

### 전체 조회
- keys()
    - 리스트로 형 변환 해줘야 함
- values()
- items()
    - (키, 값) 튜플 형태 -> 순회 많이 씀

In [20]:
list(pythons.keys()) #key찾기

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin']

In [21]:
pythons.values() #value찾기

dict_values(['Graham', 'John', 'Eric', 'Terry', 'Michael'])

In [23]:
pythons.items() #튜플형태로 (키, 값)

dict_items([('Chapman', 'Graham'), ('Cleese', 'John'), ('Idle', 'Eric'), ('Jones', 'Terry'), ('Palin', 'Michael')])

In [24]:
for k, v in pythons.items(): #list comprehension
    print(f'{k} = {v}')

Chapman = Graham
Cleese = John
Idle = Eric
Jones = Terry
Palin = Michael

In [25]:
[(k,v) for k, v in pythons.items()]

[('Chapman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'Eric'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael')]

In [26]:
[k[0] for k in pythons.items()] # 0=key, 1=value

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin']

In [27]:
[k for k in pythons] # keys

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin']

#### Quiz2
- 동물 이름과 다리 개수 나오는 사전

In [34]:
animals = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8

animal_dictionary = {} #빈 dict 선언

for k, v in zip(animals, legs):
    animal_dictionary[k] = v
    
animal_dictionary

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

#### Quiz3
- pythons 에서 성: 이름 
- 성은 첫 글자만 이름은 글자개수로 이뤄진 튜플(성,이름)리스트로 반환 
    - (dict comprehension 안쓰고)

In [66]:
pythons = {
    'Chapman': 'Graham',
    'Cleese': 'John',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin': 'Michael', 
    'Hwa': 'Chloe'
}

In [67]:
#[(), ()] => items() 를 돈다는 뜻

[(key[0], len(value)) for key, value in pythons.items()]
#성 첫글자, #글자개수

[('C', 6), ('C', 4), ('I', 4), ('J', 5), ('P', 7), ('H', 5)]

### 값 수정, 삭제, 복제, 비교

#### 추가
- update()

In [68]:
others = {
    'Marx': 'Groucho', 
    'Howard': 'Moe'
}

others

{'Marx': 'Groucho', 'Howard': 'Moe'}

In [69]:
#추가 = update 함수 사용
pythons.update(others)

pythons #마지막 값 기준으로 추가

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [70]:
#py3에서만 가능한거
{**others, **pythons}

{'Marx': 'Groucho',
 'Howard': 'Moe',
 'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

#### 삭제
- del
- pop()
- clear() -> (전체삭제)

In [71]:
#삭제 = del
del pythons['Hwa']

pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'Eric',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [72]:
# pop을 쓰면 value반환하고 삭제됨
pythons.pop('Marx')

'Groucho'

In [73]:
#값이 없으면 에러지만 0을 반환하게 할 수 있음
pythons.pop('What', 0) #없는 키는 None 변환

0

In [74]:
#전체 삭제
pythons.clear()

#빈딕셔너리 선언으로도 가능
pythons = {}

In [75]:
pythons

{}

#### 복제
- 할당 b = a
- 얕은 복사 c = a.copy()
- 깊은 복사 deepcopy()

In [94]:
a = {1:1, 2:2, 3:3}

#할당
b = a

a[1] = 45 
# b값도 같이 변한다는 문제생김
# b 가변객체라서
a, b

({1: 45, 2: 2, 3: 3}, {1: 45, 2: 2, 3: 3})

In [81]:
#얕은 복사 - 다른 객체 생성으로 할당 문제 해결
c = a.copy() 
a[2] = 22
a, c

({1: [100, 999, 3], 2: 22}, {1: [100, 999, 3], 2: [2, 3, 4]})

In [82]:
a = {1:[1, 2, 3], 2:[2, 3, 4]}
d = a.copy()

a[1][0] = 100
#얕은 복사여도 a의 형태에 따라 같은문제생김

a, d

({1: [100, 2, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

In [83]:
#그래서 깊은복사
import copy
e = copy.deepcopy(a)
a[1][1] = 999 #a값만 변형됨
a, e

({1: [100, 999, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

#### 비교
- 같다, 다르다 만 가능 (True / False)
- 딱히 비교할 일은 없음

In [85]:
a != b

True

#### Quiz 3
1. 두 리스트로 하나의 딕셔너리 생성
2. 명왕성 = pluto 추가
3. '성'으로 끝나지 않는 키 삭제 - 태양, 지구 같은거
4. sorted 사용해서 값 정렬 (key기준, value 기준)

In [86]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [90]:
# dictionary 생성
solars = dict([(k, v) for k, v in zip(solar_kor, solar_eng)])
    
# 명왕성 추가
pluto = {'명왕성': 'pluto'} 
solars.update(pluto)

# 성으로 끝나지 않는 키 삭제
for k in list(solars.keys()):
    if not k.endswith('성'):
        del solars[k]

In [91]:
solars

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

In [93]:
# 답

system = {}
for k, v in zip(solar_kor, solar_eng):
    system[k] = v
    
system['명왕성'] = 'pluto' #하나니까 update로 안해도 된다

dict([(k, system[k]) for k in system if k.endswith('성')])

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

### Dictionary comprehension
- 리스트컴프리헨션하고 딕셔너리로 감싸면 비효율적이니까
- 그래서 쓰는 것

In [95]:
letter = 'apple'

#a: 1, p: 2 .. 이런식으로 출력하려면

{ch: letter.count(ch) for ch in letter}

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [102]:
#단어의 모음세기
vowels = 'aeiou'
word = 'onomatopoeia'

In [106]:
#word 순회해서 결과 산출
{w: word.count(w) for w in set(word) if w in vowels}

{'o': 4, 'e': 1, 'i': 1, 'a': 2}

In [107]:
#vowel 순회해서 결과 산출
{v: word.count(v) for v in set(vowels) if v in word}

{'o': 4, 'e': 1, 'i': 1, 'a': 2}

### sorting

In [108]:
sorted(system.items()) #dict는 순서 없다는거 기억하기

[('금성', 'venus'),
 ('명왕성', 'pluto'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('지구', 'earth'),
 ('천왕성', 'uranus'),
 ('태양', 'sun'),
 ('토성', 'saturn'),
 ('해왕성', 'neptune'),
 ('화성', 'mars')]

In [114]:
def fx(x):
    return x[1]

#원하는 거 기준으로 정렬
#아래는 value영어기준
sorted(system.items(), key=fx) 

#같은거
sorted(system.items(), key=lambda x: x[1])

[('지구', 'earth'),
 ('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('태양', 'sun'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

In [115]:
sorted(system.items(), key=lambda x: x[0]) #lambda는 익명함수
                                #ㄱㄴㄷㄹ기준

[('금성', 'venus'),
 ('명왕성', 'pluto'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('지구', 'earth'),
 ('천왕성', 'uranus'),
 ('태양', 'sun'),
 ('토성', 'saturn'),
 ('해왕성', 'neptune'),
 ('화성', 'mars')]

### Set
- '중복이 없다'
- 집합 => 교집합, 합집합, 차집합...
- bag이라고 생각하면됨 (순서X, 중복X, 인덱싱 X)

In [116]:
empty = set()
a = {1, 2, 3}

empty, a

(set(), {1, 2, 3})

In [117]:
a = set((1, 2, 3)) #선언, 형 변환
a # 중복없다는 거 기억

{1, 2, 3}

In [118]:
#추가
a.add(4)
a

{1, 2, 3, 4}

In [119]:
#삭제
a.remove(4)
a

{1, 2, 3}

#### Quiz 4
- vodka가 포함된 술 출력
- vodka는 있는데 cream, vermouth는 없는 술 출력

In [120]:
drinks = {
    'martini':{'vodka', 'vermouth'},
    'black russian':{'vodka', 'kahlua'},
    'white russian':{'cream', 'kahlua', 'vodka'},
    'manhattan':{'rye','vermouth','bitters'},
    'screwdriver':{'orange juice','vodka'}
}

In [121]:
#vodka포함된 술
for k, v in drinks.items():
    if 'vodka' in v:
        print(k)

martini
black russian
white russian
screwdriver

In [125]:
#vodka는 있고 cream, vermouth는 없는 술
for k, v in drinks.items():
    if ('vodka' in v) and not('cream' in v or 'vermouth' in v):
        print (k)

black russian
screwdriver

### set 활용
- 교집합 | intersection, &
- 합집합 | union, |
- 차집합 | difference, -

In [127]:
a = {1, 2, 3}
b = {2, 3, 4}

# 교집합
print(a.intersection(b))
print(a & b)
print()

# 합집합
print(a.union(b))
print(a | b)
print()

# 차집합
print(a.difference(b))
print(b.difference(a))
print(a - b, b - a)

{2, 3}
{2, 3}

{1, 2, 3, 4}
{1, 2, 3, 4}

{1}
{4}
{1} {4}

In [128]:
# Quiz4를 set을 활용해서 바꾸기

"""for k, v in drinks.items():
    if ('vodka' in v) and not('cream' in v or 'vermouth' in v):
        print (k)"""

for k, v in drinks.items():
    if 'vodka' in v and not v & {'cream', 'vermouth'}:
        print (k)

black russian
screwdriver

In [129]:
#set comprehension
{s for s in range(5)}

{0, 1, 2, 3, 4}

In [131]:
#frozenset - 가변객체를 불면객체로 만드는 것
#쓸 일은 많이 없다
set([1, 2])
frozenset([1, 2])

frozenset({1, 2})

### team project 관련
- 팀별로 task 해결
- 초반 30분동안 랜덤으로 코드설명
    - 이해못했다고 판단되면 0점
    - 코드는 같이, 발표는 개별
    - 주어진 문제, 어떤 점으로 코드를 짰는지, 해결안된부분 등등
- 수요일 자정까지
- 구글링 X

In [ ]:
### 디버깅

# pylint 설치
# 코드 오류랑 점수가 나옴
!pip install pylint
!pylint example.py


### 독스트링
# pydocstyle 설치
# 몇 번째 줄이 잘못 되었는지 나옴

!pip install pydocstyle
!pydocstyle example.py